<div class="container py-5">
  <h1 class="mb-4"> <%= @island.name %> </h1>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-sm-6 col-lg-9">
      <% @islands.each |island| do %>
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2> <%= island.name %></h2>
                <p><%= island.description %></p>
              </div>
          <h2 class="card-trip-pricing"> <%= island.price %> </h2>
          <img src="https://kitt.lewagon.com/placeholder/users/chrisgeek07" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>