// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

// Custom Island Color Scheme

$red: #CE8D4D;
$blue: #2793F0;
$light-blue: #4FDAFE;
$yellow: #FAEA63;
$orange: #ACDB23;
$green: #1EDD88;
$gray: #333333;
$light-gray: #F4F4F4;
