
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1532435/pexels-photo-1532435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>ISLANDS FOR RENT</h1>
    <p>Find a private island to rent now! Exclusive islands for honeymoons, diving, fishing, family and weddings.</p>
    <%= link_to "Discover Now", islands_path, class: "btn btn-success btn-lg text-white" %>
  </div>
</div>
