
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1532435/pexels-photo-1532435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);"> </div>

  <div class="container">
    <h1>ISLANDS FOR RENT</h1>
    <p>Find a private island to rent now! Exclusive islands for honeymoons, diving, fishing, family and weddings.</p>
    <%= link_to "Discover Now", islands_path, class: "btn btn-cta btn-lg text-white" %>
  </div>
</div>

<div class="container">
    <h1 class="content mb-4">About Us</h1>
    <div class="row">
        <div class="col-md-12 d-flex">
            <%= cl_image_tag("lkpxdqjmjysmb5pvarly",
               width: 500, height: 300, crop: :fill) %>
            <div class ="content p-5">
             <p>We’re excited to welcome you to our beautiful islands!
              Come and relax on our stunning beaches and feel the freedom to explore.</p>
            <p>“Nights and days came and passed and summer and winter and the rain. And it was good to be a little Island.
                A part of the world and a world of its own. All surrounded by the bright blue sea.”
                ― Margaret Wise Brown, The Little Island</p>
            </div>
        </div>
      </div>
    </div>

    <section class="home-testimonial">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center testimonial-pos">

                <div class="col-md-12 pt-4 d-flex justify-content-center">
                    <h3>Testimonials</h3>
                </div>

                <div class="col-md-12 d-flex justify-content-center">
                    <h2>Visitors experience</h2>
                </div>

            </div>
            <section class="home-testimonial-bottom">
                <div class="container testimonial-inner">
                    <div class="row d-flex justify-content-center">

                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">“Great experience! I use this app since a few years to book every family vacation. The islands listed here have great service and high standards.”</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://avatars.githubusercontent.com/u/85581357?v=4" alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Bhavna</div>
                                    <div class="link-position d-flex justify-content-center">Manager</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                        <div class="tour-text color-grey-3 text-center">“Went for a weekend trip to Palawan. That was a last minute booking. For any last minute trip, I highly recommend Rent An Island (and Palawan too!...) ”</div>
                                        <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://avatars.githubusercontent.com/u/85569294?v=4" alt=""></div>
                                        <div class="link-name d-flex justify-content-center">Julie</div>
                                        <div class="link-position d-flex justify-content-center">CEO</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">“I've been to Lifou and Bora Bora with friends. The service at both places is excellent. Rent An Island proposes the best private islands.”</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://avatars.githubusercontent.com/u/79565709?v=4" alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Christian</div>
                                    <div class="link-position d-flex justify-content-center">Businessman</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </section>

