
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1532435/pexels-photo-1532435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>ISLANDS FOR RENT</h1>
    <p>Find a private island to rent now! Exclusive islands for honeymoons, diving, fishing, family and weddings.</p>
    <%= link_to "Discover Now", islands_path, class: "btn btn-cta btn-lg text-white" %>
  </div>
</div>

<div class="container">
    <h1 class="content mb-4">About Us</h1>
    <div class="row">
        <div class="col-md-12 d-flex">
            <img style='width:500px;height:300px; margin-right:25px;' src="https://www.collinsdictionary.com/images/full/island_526092568_1000.jpg" />
            <div class ="content p-5">
             <p>We’re excited to welcome you to our beautiful islands!
              Come and relax on our stunning beaches and feel the freedom to explore.</p>
            <p>“Nights and days came and passed and summer and winter and the rain. And it was good to be a little Island.
                A part of the world and a world of its own. All surrounded by the bright blue sea.”
                ― Margaret Wise Brown, The Little Island</p>
            </div>
        </div>
    </div>
