#map {
 border-radius: 10px;
 top: 66px;
 width: 400px !important;
 box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.cards-max {
  max-width: 700px;
}

.mapboxgl-canvas {
  width: 400px !important;
  flex-shrink: 0;
}

.mapboxgl-popup {
    max-width: 200px;
    border-radius: 10px;
    border: none;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: none;
}